<div class="container-fluid" align="center">
    <div class="wrapper">
        <div class="title" >
            <h4><span>Dar Al Kounafa</span>our menu</h4>

        </div><br><br>           <button class="bt3" routerLink="/reservation" style="color: rgb(116, 114, 110)"><strong>Réservation</strong></button>
        <br><br><br><br><br><br>
        <div class="menu">
            <div class="single-menu">
                <img src="assets/images/plat1.png" width="150" height="150" alt="">
                <div class="menu-content">
                    <h4>Kounafa with cream  <span>&nbsp;8dt</span></h4>
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/plat2.jpg" width="150" height="150" alt="">
                <div class="menu-content">
                    <h4>Kounafa with hazelnut chocolate   <span> &nbsp; 9dt</span></h4>
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/plat4.jpg" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4>Nabulsiah with cream  <span>&nbsp;8dt</span></h4>
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/plat5.png" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4>Nabulsiah with mozzarella  <span>&nbsp;8dt</span></h4>
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/plat6.png" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4>Slice of Kounafa with cream <span>&nbsp;3dt</span></h4>
                    
                </div>
            </div>
            
        </div>
    </div>

</div>
    
    
    
