<div class="container">
  <div class="row">
      <div class="col col-6"></div>
      <div class="col col-6">
          <div class="menu">
              <div class="heading">
                  <h1>Traditional Food</h1>
                  
              </div>
      <div class="food-items">
                  <img src='assets/images/DarSoltane.jpg'  width="300" height="225" >
                  <div class="details">
                      <div class="details-sub">
                          <h5>Dar Soltan</h5>
                          
                      </div>
                      <p>15 Othmane Osmane Street La Medina, Sousse 4000 Tunisia</p>
                      <button routerLink="/darSoltan" >Get Started</button>
                  </div>
              </div>
      <br>
      <br>
              <div class="food-items">
                  <img src="assets/images/polipo.jpg" width="300" height="225">
                  <div class="details">
                      <div class="details-sub">
                          <h5>Lido</h5>
                      </div>
                      <p>Embarcadero, Sousse 4000 Tunisia</p>
                      <button>Get Started</button>
                  </div>
              </div>
      <br>
      <br>
              <div class="food-items">
                  <img src="assets/images/facade.jpg" width="300" height="225" >
                  <div class="details">
                      <div class="details-sub">
                          <h5>REstaurant Du Peuple</h5>
                      </div>
                      <p>15 Rue des Remparts Nord Médina, Sousse 4000 Tunisia</p>
                      <button>Get Started</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>