<br>
<div class="container">
    <div class="row">
        <div class="col col-4"></div>
        <div class="col col-5" align="center">
            <div class="coucou">
                
                <p class="Pacifico" style="font-size: 80px;"><img src="assets/images/event_icon.png" height="100px" width="120px">Events</p>
                <img src="assets/images/halloween.jpg" style="  box-shadow: 0 6px 12px;border-radius: 15px;"><br><br>
                <p  class="Teko" style="font-size: 30px;"><img src="assets/images/localisation.png " height="35px">Casa Del Gelato,&nbsp;Sousse</p>
                <button class="bt2" routerLink="#" ><strong>booking</strong></button>

                <p class="Pacifico" style="font-size: 80px;"><img src="assets/images/event_icon.png" height="100px" width="120px">Events</p>
                <img src="assets/images/zied.jpg" height="300px" width="590px" style="  box-shadow: 0 6px 12px;border-radius: 15px;"><br><br>
                <p  class="Teko" style="font-size: 30px;"><img src="assets/images/localisation.png " height="35px">Restaurant Dar Soltan,&nbsp;Sousse</p>
                <button class="bt2" routerLink="#" ><strong>booking</strong></button>

            </div>
        </div>
    </div>
</div>
