<div class="container-fluid" align="center">
    <div class="wrapper">
        <div class="title" >
            <h4><span>Aroos Lobnen</span>our menu</h4>
        </div><br><br>           <button class="bt3" routerLink="/reservation" style="color: rgb(116, 114, 110)"><strong>Réservation</strong></button>
        <br><br><br><br><br><br>
        <div class="menu">
            <div class="single-menu">
                <img src="assets/images/hummus.png" width="150" height="150" alt="">
                <div class="menu-content">
                    <h4>HUMMUS<span>&nbsp; 5.5dt</span></h4>
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/tabboula.png" width="150" height="150" alt="">
                <div class="menu-content">
                    <h4>TABBOULA   <span> &nbsp; 7.5dt</span></h4>
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/fattouch.png" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4>FATTOUCHE <span>&nbsp; 8dt</span></h4>
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/falafel.png" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4>FALAFIL <span>&nbsp; 5.5dt</span></h4>
                  
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/muttabal.png" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4> MUTABBAL <span>&nbsp; 7.5dt</span></h4>
                    
                    
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/chich.png" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4> CHICH TAOUK <span>&nbsp; 7.5dt</span></h4>
                   
                </div>
            </div>
            
        </div>
    </div>
    

</div>

