
<div class="container">
    <div class="row">
        <div class="col col-6"></div>
        <div class="col col-6">
            <div class="menu">
                <div class="heading">
                    <h1>Oriental Food</h1>
                    
                </div>
        <div class="food-items">
                    <img src="assets/images/kounafa.jpg"  width="300" height="225" >
                    <div class="details">
                        <div class="details-sub">
                            <h5>Dar AL kounafa</h5>
                            
                        </div>
                        <p>Boulevard El Imam Moslem, Sousse, Tunisia</p>
                        <button routerLink="/dar-kounafa" >Get Started</button>
                    </div>
                </div>
        <br>
        <br>
                <div class="food-items">
                    <img src="assets/images/lobnen.jpg" width="300" height="225">
                    <div class="details">
                        <div class="details-sub">
                            <h5>Aroos Lobnen</h5>
                        </div>
                        <p>Mall of Sousse,Souse,Tunisia</p>
                        <button routerLink="/aroos-lobnen">Get Started</button>
                    </div>
                </div>
        <br>
        <br>
                <div class="food-items">
                    <img src="assets/images/hadouta (1).jpg" width="300" height="225" >
                    <div class="details">
                        <div class="details-sub">
                            <h5>Hadouta Masriya</h5>
                        </div>
                        <p>Khezama Ouest,sousse,Tunisia</p>
                        <button routerLink="/hadouta">Get Started</button>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div>

