<div class="container-fluid" align="center">
    <div class="wrapper ">
        <div class="title" >
            <h4><span>Dar Soltan</span>our menu</h4>
        </div><br><br>           <button class="bt3" routerLink="/reservation" style="color: rgb(116, 114, 110)"><strong>Réservation</strong></button>
        <br><br><br><br><br><br>
        <div class="menu">
            <div class="single-menu">
                <img src="assets/images/gargoulette.jpg" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4>Agneau à la gargoulette <span>&nbsp;48dt</span></h4>
                    
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/kammounia.jpg" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4>Kammounia De Poulpe <span>&nbsp;18dt</span></h4>
                   
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/ojja.jpg" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4>Ojja Au Kaddid <span>&nbsp;15dt</span></h4>
                    
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/kakabou.jpg" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4>Kakabou  <span>&nbsp;24dt</span></h4>
                  
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/couscous.jpg" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4>Couscous à l'agneau du Sahel <span>&nbsp;35dt</span></h4>
                   
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/coke.png" width="150" height="150" alt="">
                <div class="menu-content">
                    <h4>Soda  <span> &nbsp; 2dt</span></h4>
                   
                </div>
            </div>
         
        </div>
    
</div>
