<div class="container-fluid animated" >
    <div class="row">
      <div class="col-md-4"></div>
      <div class=" col-md-4" align="center">
          <br><br><br>
          
          <form class="form" >
               <input class="form-control form-control-lg" style="border-radius: 15px;"  type="text" name="menu"  size="30"  placeholder="food" required/><br>
               <input placeholder="drinks" class="form-control form-control-lg" style="border-radius: 15px;" type="text" name="drinks" /><br>
               <input placeholder="date" class="form-control form-control-lg" style="border-radius: 15px;" type="text" name="date" /><br>
               <input placeholder="number of people" class="form-control form-control-lg" style="border-radius: 15px;" type="text" name="nb" /><br>
               <input placeholder="description" class="form-control form-control-lg" style="border-radius: 15px;" type="text" name="Description" /><br>
               <input  class="btn btn-success form-control-lg " style="border-radius: 20px;" type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Reservation&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"><br><br>
           </form>
           
      </div>
      <div class="col-md-4"></div>
  </div>
</div>
