<div class="container">
    <div class="row">
        <div class="col col-6"></div>
        <div class="col col-6">
            <div class="menu">
                <div class="heading">
                    <h1>asiatic Food</h1>
                    
                </div>
        <div class="food-items">
                    <img src="assets/images/sushi.jpg"  width="300" height="225" >
                    <div class="details">
                        <div class="details-sub">
                            <h5><strong>Sendai</strong></h5>
                            
                        </div>
                        <p>Movenpick Resort & Marine Spa Sousse Boulevard du 14 Janvier, Sousse 4000 Tunisie.</p>
                        <button >Get Started</button>
                    </div>
                </div>
        <br>
        <br>
                <div class="food-items">
                    <img src="assets/images/pitaya.jpg" width="300" height="225">
                    <div class="details">
                        <div class="details-sub">
                            <h5><strong>Pitaya</strong></h5>
                        </div>
                        <p>Mall of Sousse,Souse,Tunisia</p>
                        <button>Get Started</button>
                    </div>
                </div>
        <br>
        <br>
                <div class="food-items">
                    <img src="assets/images/kinben.jpg" width="300" height="225" >
                    <div class="details">
                        <div class="details-sub">
                            <h5><strong>KINBEN</strong></h5>
                        </div>
                        <p>Khezama Ouest,sousse,Tunisia</p>
                        <button>Get Started</button>
                    </div>
                </div>
        
                
        
                
        
                
            </div>
        </div>
    </div>
</div>