<div class="container-fluid" align="center">
    <div class="wrapper">
        <div class="title" >
            <h4><span>Hadouta Masriya</span>our menu</h4>
        </div><br><br>           <button class="bt3" routerLink="/reservation" style="color: rgb(116, 114, 110)"><strong>Réservation</strong></button>
        <br><br><br><br><br><br>
        <div class="menu">
            <div class="single-menu">
                <img src="assets/images/koshari.png" width="150" height="150" alt="">
                <div class="menu-content">
                    <h4>Koshari   <span>&nbsp; 6.5dt</span></h4>
                    
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/3.jfif" width="150" height="150" alt="">
                <div class="menu-content">
                    <h4>Taameya   <span>&nbsp; 7.5dt</span></h4>
                   
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/bechamel.jpg" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4>Macaroni bechamel <span>&nbsp;9dt</span></h4>
                    
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/baba.png" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4>Beetroot Baba Ghanoug<span>&nbsp;10dt</span></h4>
                   
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/bake.jpg" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4> Musaqa'a <span>&nbsp;10dt</span></h4>
                   
                    
                </div>
            </div>
            <div class="single-menu">
                <img src="assets/images/11.jpg" width="150"  height="150" alt="">
                <div class="menu-content">
                    <h4> Mombar<span>&nbsp;12dt</span></h4>
                   
                    
                </div>
            </div>
            
        </div>
    </div>
    

</div>
